<html ng-app="bindApp">
<head>
  <title>Bind Angularjs Events</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="js/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-controller="MainCtrl" >
		<div class="jumbotron">
		<h2>Bind keyboard event with Angularjs's 'ng-click' event</h2>
		<p> This utility created to bind angularjs event 'ng-click' with keyboard events for span elements</p>
		<p> The below example has beeen created without using the bind utility. The counter won't be able to increase its value by activating the like icon from keyboard</p>
		<div style="width:50px;height:40px;background-color:#c2c2c2;padding:10px" >
			<span class="glyphicon glyphicon-thumbs-up" tabindex="0" 
			  ng-click="add1()"></span>
			{{count1}}
		</div>
		<br><br>
		<p> The below example has beeen created without using the bind utility called "utils-keypress. Refer the js/angularApp.js in source code to know more about this utility."</p>
		<div style="width:50px;height:40px;background-color:#c2c2c2;padding:10px" >
			<span class="glyphicon glyphicon-thumbs-up" tabindex="0" 
			  ng-click="add2()" utilsKeypress></span>
			{{count2}}
		</div>
		<h3>Accessibility point of view</h3>
		<p>Keyboard accessibility is one of the most important aspects of disability access. Blind people generally cannot use a mouse because they cannot see where to click. They use their keyboard almost exclusively. Additionally, some individuals with low vision may use a keyboard for improved interactions if the page is enlarged and the contrast is high.</p>
		</div>
</body>
</html>
